$blackColor: #2B2C36
$whiteColor: #ffffff
$lightGreyColor: #e6e6e6
$darkGreyColor: #333
$pinkColor: #F3B2C6
$redColor: #E95691


/*Mixins*/
@mixin translateY($d)
	transform: translateY($d)
@mixin transition($d)
	transition: $d